
.filepond--root {
    width: 100%;
}
  
.filepond--drop-label {
    font-size: 1.5rem;
}

.filepond--item {
    width: 32.7% !important;
    height: 500px !important;
  } 
  
  .filepond--pdf-preview object {
    height: 100% !important;
  }