.filepond-container {

}

.filepond--root {
    width: 100%; /* Full width, adjust as needed */
}
  
.filepond--drop-label {
    font-size: 1.5rem; /* Optional: make the text larger */
}

.filepond--item {
    width: 32.7% !important;
    height: 500px !important;
  } 
  
  .filepond--pdf-preview object {
    height: 100% !important;
  }